  <ul>
</li>
  <a href="/users">
      Users
    </a>
  </li>
</ul>

<h1> List of users </h1>

<form action="/search_user" method="post">

 <label for="username_box">
    Username
  </label>
<input id="username_box" name="name" type="text" placeholder="Enter a username...">

  <button>
    Add user
  </button>

</form>